@page "/myjobs"
@using BlazorApp.Extensions.ViewModels.CatalogVMs
@using BlazorApp.Extensions.ViewModels.JobsVMs
@using System.Net.Http.Json
@using BlazorApp.Extensions.ViewModels.IdentityVMs
@using BlazorApp.Services.Interfaces
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Security.Claims
@inject NavigationManager NavigationManager
@inject IJobService JobService 
@inject IVehicleService VehicleService
@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Мої візити</PageTitle>

<h3>Мої візити</h3>


    <QuickGrid Items="@visitsQueryable" Class="mt-4">
       
    <PropertyColumn Property="@(v => v.Description)" Title="Опис проблеми" />
    <PropertyColumn Property="@(v => v.IssueDate)" Title="Дата візиту" />
        <PropertyColumn Property="@(v => v.Status)" Title="Статус" />
        <TemplateColumn Title="Actions">
        <button class="btn btn-info" @onclick="() => ViewVisitDetails(context.Id.Value)">Переглянути</button>
        </TemplateColumn>
    </QuickGrid>


@code {

    private List<JobVMForUser> visits;
    private IQueryable<JobVMForUser> visitsQueryable;
    private List<VehicleViewModel> vehicles = new();
    private string userid;

    protected override async Task OnInitializedAsync()
    {

        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;
        if (user.Identity.IsAuthenticated)
        {
             userid = user.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).Select(c => c.Value).FirstOrDefault();
        }      
        var visitsVMs = await JobService.GetJobsBYUserId(Guid.Parse(userid));
        visits = visitsVMs.ToList();
        visitsQueryable = visits.AsQueryable();
    }


    private async Task SearchVisits()
    {
        // Приклад запиту до API для отримання робіт користувача
 
    }

    private void ViewVisitDetails(Guid visitId)
    {
        NavigationManager.NavigateTo($"/myjobs/job/{visitId}");
    }


    public class SearchModel
    {
        public string SearchTerm { get; set; }
    }

}
